body  {
    background-color:#e6edf0;
   

}

.table {
    max-width: 1700px;
    
}


.blockquote {
    text-align: justify;
    color:blue ;
    font-size: 18px;
}
.blockquote_comments {
    font-size: 18px;
    color: black;
}
.post-subtitle {
    font-size: 20px;
}
.card {
    
    text-align: justify;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    
}
#form_comment {
    background-color: rgb(207, 221, 240);
    text-transform: uppercase;
    
}
.card-body {
    
    padding-right: 15px;
  
}
label {
    display: inline-block;
    width:  300px;
  
}
input, textarea {
    font: 1em sans-serif;
    width: 200px;
    box-sizing: border-box;
    border-color: #000;  
}
#isValid {
    width: 20px;
}
textarea {
    vertical-align: top;
    height: 10em;
}
#msg  {
    width:  600px;
}
#author  {
    width:  600px;
}

  .box {
    padding: 10px;
  }