body  {
    background-color:#e6edf0;
   

}

.table {
    max-width: 1500px;
    
}
.table th {
 text-align: center;   

}
.blockquote {
    text-align: justify;
    color:blue ;
}
.post-subtitle {
    font-size: 20px;
}



