body  {
    background-color:#e6edf0;

}

.table {
    max-width: 1500px;
    
}
.table th {
 text-align: center;   

}
.blockquote {
    text-align: justify;
    color:blue ;
}
/*  test pour page show   non
.show {
    height: 1300px;
}
*/


